# Porta de execução da API
PORT=3000

# URL de Conexão com o Banco de Dados (SQLite por padrão)
DATABASE_URL="file:./dev.db"

# Configurações do Cloudflare R2 (Armazenamento de Anexos/Imagens)
CLOUDFLARE_R2_ACCOUNT_ID=seu_account_id_aqui
CLOUDFLARE_R2_ACCESS_KEY_ID=sua_access_key_id_aqui
CLOUDFLARE_R2_SECRET_ACCESS_KEY=sua_secret_access_key_aqui
CLOUDFLARE_R2_BUCKET_NAME=nome_do_seu_bucket_aqui
CLOUDFLARE_R2_PUBLIC_URL=https://sua-url-publica-do-bucket.com
